header{
    
    width: 100%;
    height: auto;
    background: rgb(226, 215, 163); 
    margin: 0 auto;
    text-align: left;
}




.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#like{  
    background:rgba(255, 129, 171, 0.158);
    font-size: 30px;
    border: none;
    border-radius: 100%;
}
#like:hover{
    background:rgb(255, 173, 210);
}



footer{
    width: 100%;
    height: auto;
    background: rgb(226, 215, 163);
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}

 a{
    color:black;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin-left: 10px;
    text-decoration: none;
}

nav a:hover{
 border-bottom: 3px solid rgba(168, 118, 26, 0.336);

}
.social img{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    height: 50px;
}
.social img:hover{
    background: rgba(168, 118, 26, 0.336);
    border-radius: 30%;
}